/.vscode
/Main.o
/StrList.o
/main
inputs/input1.txt
inputs/input2.txt
inputs/input3.txt
inputs/input4.txt
inputs/input5.txt
inputs/input6.txt
outputs/output1.txt
outputs/output2.txt
outputs/output3.txt
outputs/output4.txt
outputs/output5.txt
outputs/output6.txt
StrList
check_submition.py
a.txt
